# Visual Studio
bin/
obj/


*.user
*.suo
.vs/

*.nupkg
.nuget/
packages/

# Ignorar las migraciones de EF
Infraestructure/Migrations/

appsettings.Development.json
appsettings.Local.json
*.db
*.sqlite

*.log
*.tmp
*.bak
